## Q1 Consider the following Python module:
a = 0

def b():

 global a
 
 a = c(a)
 
def c(a):

 return a + 2
 
After importing the module into the interpreter, you execute:

b()

b()

b()

a

?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a=0

def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

2
4
6
6

Initially a is assigned to 0.
When b() is called 3 times this is what happens:
First call to b:
a is initially 0.
b() calls c(a) with a = 0.
c(0) returns 0 + 2 = 2.
a is updated to 2 and b() returns 2.

Second call to b:
a is now 2.
b() calls c(a) with a = 2.
c(2) returns 2 + 2 = 4.
a is updated to 4 and b() returns 4.

Third call to b:
a is now 4.
b() calls c(a) with a = 4.
c(4) returns 4 + 2 = 6.
a is updated to 6 and b() returns 6.

The final value of a will be 6.

# Q2 Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

fileLength('midterm.py')

284

fileLength('idterm.py')

Traceback (most recent call last):

File "<pyshell#34>", line 1, in module

 fileLength('idterm.py')
 
File "/Users/me/midterm.py", line 3, in fileLength

 infile = open(filename)
 
FileNotFoundError: [Errno 2] No such file or directory:

'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read

as a text file, an exception will be raised. Modify function fileLength() so that a

friendly message is printed instead:

fileLength('midterm.py')

358

fileLength('idterm.py')

File idterm.py not found.

In [2]:
def fileLength(file_name):
    try:
        with open(file_name, 'r') as file:
            content = file.read()
            file_length = len(content)
        return file_length
    except FileNotFoundError:
        return f"File {file_name} not found."

In [3]:
pwd()

'C:\\Users\\rahul'

In [4]:
fileLength(r"C:\Users\rahul\Downloads\w3c.txt")

396

In [5]:
fileLength("idterm.py")

'File idterm.py not found.'

# Q 3

# Q 3
Write a class named Marsupial that can be used as shown below:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
k = Kangaroo(0,0)
print(k)
I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
['doll', 'firetruck', 'kitten']
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)
I am a Kangaroo located at coordinates (3,0)

In [6]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch

# Creating an instance of Marsupial
marsupial_instance = Marsupial()
marsupial_instance.put_in_pouch('doll')
marsupial_instance.put_in_pouch('firetruck')
marsupial_instance.put_in_pouch('kitten')
print(marsupial_instance.pouch_contents())

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

['doll', 'firetruck', 'kitten']

In [7]:
# Instantiating Kangaroo at the origin
kangaroo_instance = Kangaroo(0, 0)
print(kangaroo_instance)  

# Adding items to the Kangaroo's pouch
kangaroo_instance.put_in_pouch('doll')
kangaroo_instance.put_in_pouch('firetruck')
kangaroo_instance.put_in_pouch('kitten')
print(kangaroo_instance.pouch_contents())  

# Making the Kangaroo jump
kangaroo_instance.jump(1, 0)
kangaroo_instance.jump(1, 0)
kangaroo_instance.jump(1, 0)
print(kangaroo_instance)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Q 4
Write function collatz() that takes a positive integer x as input and prints the

Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying

this rule to the previous number x in the sequence:

x = {

𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your

implementation must be recursive, without any loops.

In [8]:
def collatz(number):
    while number != 1:
        print(number)
        if number % 2 == 0:
            number = number // 2
        else:
            number = 3 * number + 1
    print(number)

collatz(1)
print("---------")
collatz(10)

1
---------
10
5
16
8
4
2
1

# Q 5
Write a recursive method binary() that takes a non-negative

integer n and prints the binary representation of integer n.

binary(0)

0

 binary(1)
 
1

binary(3)

11

 binary(9)
 
1001

In [9]:
def binary(number):
    if number > 1:
        binary(number // 2)
    print(number % 2, end='')

In [10]:
binary(0)
print("\n")
binary(1)
print("\n")
binary(3)
print("\n")
binary(9)

0

1

11

1001

# Q 6

Implement a class named HeadingParser that can be used to parse an HTML

document, and retrieve and print all the headings in the document. You should

implement your class as a subclass of HTMLParser, defined in Standard Library

module html.parser. When fed a string containing HTML code, your class should

print the headings, one per line and in the order in which they appear in the

document. Each heading should be indented as follows: an h1 heading should have 

 indentation 0, and h2 heading should have indentation 1, etc. Test your
 
implementation using w3c.html.

infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission

Principles

In [11]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.is_heading = False
        self.indent_level = 0
        self.heading_tags = {"h1": 0, "h2": 1, "h3": 2, "h4": 3, "h5": 4, "h6": 5}

    def handle_starttag(self, tag, attrs):
        if tag in self.heading_tags:
            self.is_heading = True
            self.indent_level = self.heading_tags[tag]

    def handle_data(self, data):
        if self.is_heading:
            print(self.indent_level * "\t" + data)

    def handle_endtag(self, tag):
        if tag in self.heading_tags:
            self.is_heading = False

# Usage example
with open(r"C:\Users\rahul\Downloads\w3c.txt") as file:
    html_content = file.read()

hp = HeadingParser()
hp.feed(html_content)

W3C Mission
	Principles

# Q7
Implement recursive function webdir() that takes as input: a URL (as a string) and

non-negative integers depth and indent. Your function should visit every web

page reachable from the starting URL web page in depth clicks or less, and print

each web page's URL. As shown below, indentation, specified by indent, should

be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [12]:
import urllib.request
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr, value in attrs:
                if attr == 'href':
                    self.links.append(value)

def webdir(url, depth, indent):
    if depth < 0:
        return
    
    # Fetch the webpage content
    try:
        response = urllib.request.urlopen(url)
    except urllib.error.URLError as e:
        print(f"Error fetching {url}: {e.reason}")
        return
    
    # Check if request was successful
    if response.getcode() != 200:
        print(f"Failed to retrieve {url}. Status code: {response.getcode()}")
        return
    
    # Parse HTML content
    content = response.read().decode('utf-8')
    parser = LinkParser()
    parser.feed(content)
    
    # Print the current URL with appropriate indentation
    print(' ' * indent + url)
    
    # Find all links on the current page
    for link in parser.links:
        if link.startswith('http'):
            next_url = link
        else:
            next_url = urljoin(url, link)
        
        # Avoid visiting the same domain again to prevent infinite loops
        if urljoin(url, '').split('/')[2] == next_url.split('/')[2]:
            webdir(next_url, depth - 1, indent + 1)

# Example usage:
webdir('https://translate.google.ca/?hl=en&tab=TT&sl=auto&tl=es&text=hello&op=translate', 2, 0)

https://translate.google.ca/?hl=en&tab=TT&sl=auto&tl=es&text=hello&op=translate
 https://translate.google.ca/?hl=en&tab=TT
  https://translate.google.ca/?hl=en&tab=TT
  https://translate.google.ca/?hl=en&tab=TT
  https://translate.google.ca/history
  https://translate.google.ca/saved
 https://translate.google.ca/?hl=en&tab=TT
  https://translate.google.ca/?hl=en&tab=TT
  https://translate.google.ca/?hl=en&tab=TT
  https://translate.google.ca/history
  https://translate.google.ca/saved
 https://translate.google.ca/history
Error fetching https://translate.google.ca/signin/usernamerecovery?continue=https://translate.google.ca/history&dsh=S316310:1720126452977089&flowEntry=ServiceLogin&flowName=WebLiteSignIn&followup=https://translate.google.ca/history&ifkv=AS5LTAT_kkjIEWPy9o8DN-AztvMx16B_KADcoFiI3v6jKys_oPNsVl2sGoEJ28l5b1azfUNJBSK79A: Not Found
Error fetching https://translate.google.ca/lifecycle/flows/signup?continue=https://translate.google.ca/history&dsh=S316310:1720126452977089&flowEntry=SignUp&flowName=GlifWebSignIn&followup=https://translate.google.ca/history&ifkv=AS5LTAT_kkjIEWPy9o8DN-AztvMx16B_KADcoFiI3v6jKys_oPNsVl2sGoEJ28l5b1azfUNJBSK79A: Not Found
 https://translate.google.ca/saved
Error fetching https://translate.google.ca/signin/usernamerecovery?continue=https://translate.google.ca/saved&dsh=S151962681:1720126456245073&flowEntry=ServiceLogin&flowName=WebLiteSignIn&followup=https://translate.google.ca/saved&ifkv=AS5LTAQte_EqCGAdWKwkhob_o0Qg66Iw3jMFydlCb8rMG37NaPEV5GsniLrOHhj9xo32kvmBnVrg: Not Found
Error fetching https://translate.google.ca/lifecycle/flows/signup?continue=https://translate.google.ca/saved&dsh=S151962681:1720126456245073&flowEntry=SignUp&flowName=GlifWebSignIn&followup=https://translate.google.ca/saved&ifkv=AS5LTAQte_EqCGAdWKwkhob_o0Qg66Iw3jMFydlCb8rMG37NaPEV5GsniLrOHhj9xo32kvmBnVrg: Not Found

In [13]:
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error fetching https://reed.cs.depaul.edu/lperkovic/csc242/test1.html:

# Q 8

Q 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [14]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\rahul\appdata\roaming\python\python311\site-packages (9.0.0)

In [15]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

# Create a cursor object to interact with the database
db_cursor = db_connection.cursor()

# Execute SQL query to create a new database named 'problemset2'
db_cursor.execute("CREATE DATABASE ps2")

In [16]:
db_cursor.execute("USE ps2")

In [17]:
# Execute SQL query to create a new table named 'temperature_data'
db_cursor.execute("CREATE TABLE temperature_data (City VARCHAR(255), Country VARCHAR(255), Season VARCHAR(255), Temperature FLOAT, Rainfall FLOAT)")

In [18]:
sql = "INSERT INTO temperature_data (City, Country, Season, Temperature, Rainfall) VALUES (%s, %s, %s, %s, %s)"

# Data values to be inserted
data_values = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

# Execute the SQL query with multiple value insertions
db_cursor.executemany(sql, data_values)

# Commit changes to the database
db_connection.commit()

# Print the number of records inserted
print(db_cursor.rowcount, "record(s) inserted.")

# Close cursor and connection
db_cursor.close()
db_connection.close()

12 record(s) inserted.

# a All the temperature data.

In [19]:
import mysql.connector


db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

db_cursor = db_connection.cursor()

# SQL query to fetch all temperatures from 'temperature_data' table
sql_query = "SELECT Temperature FROM temperature_data"

db_cursor.execute(sql_query)


query_results = db_cursor.fetchall()

# Iterate through the results and print each temperature
for record in query_results:
    print(record)

db_cursor.close()
db_connection.close()

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# b All the cities, but without repetition.

In [20]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)


db_cursor = db_connection.cursor()
sql_query = "SELECT DISTINCT(City) FROM temperature_data"
db_cursor.execute(sql_query)
query_results = db_cursor.fetchall()
for record in query_results:
    print(record)
db_cursor.close()
db_connection.close()

('Mumbai',)
('London',)
('Cairo',)

# c All the records for India.

In [21]:
import mysql.connector

db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

db_cursor = db_connection.cursor()

sql_query = "SELECT * FROM temperature_data WHERE Country = 'India'"

db_cursor.execute(sql_query)

query_results = db_cursor.fetchall()

for record in query_results:
    print(record)

db_cursor.close()
db_connection.close()

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# d All the Fall records.

In [22]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

# Create a cursor object to interact with the database
db_cursor = db_connection.cursor()

# SQL query to fetch all records from 'temperature_data' table where Season is 'Fall'
sql_query = "SELECT * FROM temperature_data WHERE Season = 'Fall'"

# Execute the SQL query
db_cursor.execute(sql_query)

# Fetch all results
query_results = db_cursor.fetchall()

# Iterate through the results and print each record
for record in query_results:
    print(record)

# Close cursor and connection
db_cursor.close()
db_connection.close()

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# e The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [23]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

# Create a cursor object to interact with the database
db_cursor = db_connection.cursor()

# SQL query to fetch City, Country, and Season from 'temperature_data' table where Rainfall is between 200 and 400
sql_query = "SELECT City, Country, Season FROM temperature_data WHERE Rainfall BETWEEN 200 AND 400"

# Execute the SQL query
db_cursor.execute(sql_query)

# Fetch all results
query_results = db_cursor.fetchall()

# Iterate through the results and print each record
for record in query_results:
    print(record)

# Close cursor and connection
db_cursor.close()
db_connection.close()

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

# f The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [24]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

# Create a cursor object to interact with the database
db_cursor = db_connection.cursor()

# SQL query to fetch City and Country from 'temperature_data' table where Season is 'Fall' and Temperature > 20, ordered by Temperature
sql_query = "SELECT City, Country FROM temperature_data WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature"

# Execute the SQL query
db_cursor.execute(sql_query)

# Fetch all results
query_results = db_cursor.fetchall()

# Iterate through the results and print each record
for record in query_results:
    print(record)

# Close cursor and connection
db_cursor.close()
db_connection.close()

('Cairo', 'Egypt')
('Mumbai', 'India')

# g The total annual rainfall for Cairo.

In [25]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

# Create a cursor object to interact with the database
db_cursor = db_connection.cursor()

# SQL query to calculate the total annual rainfall for Cairo from 'temperature_data' table
sql_query = "SELECT SUM(Rainfall) FROM temperature_data WHERE City = 'Cairo'"

# Execute the SQL query
db_cursor.execute(sql_query)

# Fetch the result
total_rainfall = db_cursor.fetchone()[0]

# Print the total annual rainfall for Cairo
print("Total annual rainfall for Cairo:", total_rainfall)

# Close cursor and connection
db_cursor.close()
db_connection.close()

Total annual rainfall for Cairo: 27.600000001490116

# h The total rainfall for each season.

In [26]:
import mysql.connector

# Establish connection to MySQL server
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="ps2"
)

# Create a cursor object to interact with the database
db_cursor = db_connection.cursor()

# SQL query to calculate the total rainfall for each season from 'temperature_data' table
sql_query = "SELECT Season, SUM(Rainfall) FROM temperature_data GROUP BY Season"

# Execute the SQL query
db_cursor.execute(sql_query)

# Fetch all results
query_results = db_cursor.fetchall()

# Iterate through the results and print each record
for record in query_results:
    print(record)

# Close cursor and connection
db_cursor.close()
db_connection.close()

('Winter', 230.09999704360962)
('Spring', 192.30000686645508)
('Summer', 1706.5000244155526)
('Fall', 569.0)

# Q9

# Q 9 . Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [27]:
# Original list of words
original_words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Part A: Uppercase versions of each word
uppercase_words = ['{}'.format(word.upper()) for word in original_words]
print("A)", uppercase_words)

# Part B: Lowercase versions of each word
lowercase_words = ['{}'.format(word.lower()) for word in original_words]
print("B)", lowercase_words)

# Part C: Lengths of each word
word_lengths = [len(word) for word in original_words]
print("C)", word_lengths)

# Part D: Lists containing uppercase, lowercase, and length of each word
word_info = [[word.upper(), word.lower(), len(word)] for word in original_words]
print("D)", word_info)

# Part E: Words with 4 or more characters
long_words = [word for word in original_words if len(word) >= 4]
print("E)", long_words)

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']